.videos .content{
    padding: 20px 30px;
    position: relative;
}
.videos .content h3{
    padding:0 24px;
    margin-bottom: 20px;
    font-size: 21px;
}
.videos .content .carousel .items .video{
    display: flex;
    flex-direction: column;
    width: 326px;
    background: linear-gradient(black,red,black);
    border-radius: 10px;
    position: relative;
}
.videos .content .carousel .items .video  .play-icon{
    z-index: 1;
    color: white;
    font-size: 52px;
    top: 37%;
    width: 100%;
    text-align: center;
    position: absolute;
}
.videos .content .carousel .items .video  .time{
    z-index: 1;
    color: white;
    font-size: 17px;
    font-weight: bold;
    top: 55%;
    width: 100%;
    text-align: end;
    padding: 0 10px;
    position: absolute;
}

.videos .content .carousel .items .video video{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.videos .content .carousel .items .video .text{
    color: white;
    padding: 10px;
}
.videos .content .carousel .items .video .text h4{
    padding: 0;
} 
.videos .content .carousel .items .video .text span{
    margin-top: 5px;
    display: block
}
.videos button{
    margin: 23px 0;
}